{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<head>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>rank-n-file</title>
  {% block styles %}
  {% bootstrap_css %}
  {% endblock %}
</head>
{% block content %}
<body class="bod">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Project of the week</h1>
      <p class="lead text-center">This is where the project with the highest average score will be displayed.</p>
    </div>
  </div>

  <div class="container mb-5">
    <div class="card text-center">
      <div class="card-header">
        Most Recent 10
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for project in recent %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4 col-sm-4" >
                <img src="{{project.screenshot.url}}" alt="image" id="projIndex">
              </div>
              <div class="col-md-8 row">
                <p class="col-md-12">{{project.name}}</p>
                <p class="col-md-12">{{project.description}}</p>
                <p class="col-md-12">posted by: {{project.user.username}} {{project.date_posted|timesince}} ago</p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</body>
{% endblock %}
