{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>rank-n-file</title>
  {% block styles %}
  {% bootstrap_css %}
  {% endblock %}
</head>
{% block content %}
<body class="bod">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Project of the week</h1>
      <p class="lead text-center">This is where the project with the highest average score will be displayed.</p>
    </div>
  </div>

  <div class="container mb-5">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" href="#">Top 10</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Newest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Random</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">these will be</li>
          <li class="list-group-item">a list of other projects</li>
          <li class="list-group-item">that have been selected by criteria above(navtabs)</li>
        </ul>
      </div>
    </div>
  </div>

</body>
{% endblock %}
</html>
