{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
<head>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{project.name}}</title>
  {% block styles %}
  {% bootstrap_css %}
  {% endblock %}
</head>
{% block content %}
    {% if project %}
    <div class="container row mt-5 ml-5">
        <div class="col-md-4" id="projectImage">
            <a href="{{project.link}}"><img src="{{project.screenshot.url}}" alt="{{project.name}}" ></a>
        </div>
        <div class=" col-md-2">

        </div>
        <div class="col-md-6 row">
            <p class="col-md-12">{{project.name}}</p>
            <p class="col-md-12">{{project.description}}</p>
            <p class="col-md-12">posted by: {{project.user.username}} {{project.date_posted|timesince}} ago</p>
        </div>

    </div>
    {% else%}
    <div class="container"> <h1 class="text-center">There is no such project</h1></div>
    {% endif %}
{% endblock %}